# ==============================================================================
# Enterprise Attack Detection & Response Lab - Terraform Variables Example
# ==============================================================================

environment        = "lab-development"
simulation_cidr    = "172.28.10.0/24"
corp_internal_cidr = "172.28.20.0/24"
app_tier_cidr      = "172.28.30.0/24"
secmon_cidr        = "172.28.90.0/24"
